@font-face {
  font-family: 'sf-airstore-uploader-font';
  src:  url('https://scaleflex.ultrafast.io/https://scaleflex.api.airstore.io/v1/get/_/eec68f19-d1ab-5a6e-a9a6-05a0e8b50000/sf-airstore-uploader-font.eot?erlgi2');
  src:  url('https://scaleflex.ultrafast.io/https://scaleflex.api.airstore.io/v1/get/_/eec68f19-d1ab-5a6e-a9a6-05a0e8b50000/sf-airstore-uploader-font.eot?erlgi2#iefix') format('embedded-opentype'),
    url('https://scaleflex.ultrafast.io/https://scaleflex.api.airstore.io/v1/get/_/1631243b-a8b9-5a07-b05e-52a8e9850000/sf-airstore-uploader-font.ttf?erlgi2') format('truetype'),
    url('https://scaleflex.ultrafast.io/https://scaleflex.api.airstore.io/v1/get/_/9eb106cb-839a-5975-9fbc-32cb3ce50000/sf-airstore-uploader-font.woff?erlgi2') format('woff'),
    url('https://scaleflex.ultrafast.io/https://scaleflex.api.airstore.io/v1/get/_/6a17193b-2f3b-5735-ba28-93fb5d150000/sf-airstore-uploader-font.svg?erlgi2#sf-airstore-uploader-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="sfi-airstore-"], [class*=" sfi-airstore-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sf-airstore-uploader-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sfi-airstore-image-editor:before {
  content: "\e90d";
}
.sfi-airstore-tags:before {
  content: "\e90e";
}
.sfi-airstore-arrow-up:before {
  content: "\e906";
}
.sfi-airstore-arrow-down:before {
  content: "\e907";
}
.sfi-airstore-plus:before {
  content: "\e908";
}
.sfi-airstore-arrow-right:before {
  content: "\e909";
}
.sfi-airstore-arrow-left:before {
  content: "\e90a";
}
.sfi-airstore-cross:before {
  content: "\e90b";
}
.sfi-airstore-tick:before {
  content: "\e90c";
}
.sfi-airstore-gallery:before {
  content: "\e900";
}
.sfi-airstore-image:before {
  content: "\e901";
}
.sfi-airstore-search:before {
  content: "\e902";
}
.sfi-airstore-upload:before {
  content: "\e903";
}
.sfi-airstore-uploaded-images:before {
  content: "\e904";
}
.sfi-airstore-image-gallery:before {
  content: "\e905";
}


@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}