body, html {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f5f5f5;
}

.home {
  position: relative;
  border-top: 1px solid transparent;
  background: #222;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home .logo {
  font-weight: normal;
  font-size: 24px;
  color: #fff;
}

.home .logo:hover, .home .logo:active, .home .logo:visited {
  text-decoration: none;
  color: #fff;
}

.home .fork-me-on-github {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.home h1 {
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: lighter;
  font-family: Helvetica, Arial, sans-serif;
}

.home h2 {
  font-weight: lighter;
  color: #a7a7a7;
  line-height: 1.5em;
  font-size: 18px;
  max-width: 770px;
  display: inline-block;
}

.home .actions-wrapper {
  margin-top: 20px;
}

.home .robot-icon {
  position: absolute;
  left: 50px;
  width: 200px;
  top: 110px;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@media all and (max-width: 1250px) {
  .home .robot-icon {
    left: 45px;
    width: 100px;
    top: 15px;
  }
}

@media all and (max-width: 555px) {
  .home  {
    padding-top: 150px;
  }
}

@keyframes example {
  0%   {transform: translate(0px, 0px);}
  50%  {transform: translate(5px, 2px) scale(1.02);}
  100% {transform: translate(0px, 0px);}
}

.ready-to-start {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ready-to-start h2 {
  font-weight: lighter;
  font-size: 40px;
  max-width: 770px;
  margin: 0 auto 30px auto;
}

.ready-to-start p {
  display: block;
  max-width: 850px;
  margin: 0 auto;
  font-weight: lighter;
  line-height: 1.5em;
  font-size: 18px;
}

.uploaded-image-container {
  padding: 20px 0;
}

.filerobot-uploader-view-wrapper {
  position: relative;
  margin: 0 auto -20px;
  top: 30px;
  padding: 0;
  max-width: 800px;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
}

.filerobot-uploader-view-wrapper .filerobot-uploader-view {
  width: 100%;
}

* {
  box-sizing: border-box;
}

#image-box {
  cursor: pointer;
}

.image-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 400px;
  background-color: #222222;
  border-radius: 5px;
  transition: 0.3s all;
}

.image-container img {
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px);
  width: auto;
  height: auto;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  margin: auto;
}

#image-description {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  padding: 20px;
  font-size: 18px;
}

#image-description ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#image-description ul li {
  margin-bottom: 10px;
}

#image-description ul li span:first-child {
  display: inline-block;
  font-weight: bold;
  color: #6d6d6d;
}

.highlight {
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: #f8f9fa;
  display: block;
}

.highlight pre {
  margin: 0;
}

.see-doc {
  font-size: 14px;
  margin-left: 10px;
}

.on-load {
  display: block !important;
}

.github-logo-wrapper {
  position: absolute;
  top: 10px;
  right: 15px;
}

.github-logo-wrapper .github-logo {
  width: 20px;
  margin-right: 10px;
}

.title-wrapper {
  position: relative;
}

.wrapper {
  transition: 0.3s all;
  opacity: 0;
}

.wrapper.active {
  visibility: visible !important;
  opacity: 1 !important;
}

#edit-btn {
  position: relative;
}

.arrow {
  background: url('https://scaleflex.airstore.io/filerobot/assets/arrow_1.png') 50% 50% / contain no-repeat;
  width: 100px;
  height: 250px;
  position: absolute;
  top: -42px;
  left: -97px;
  transform: rotate(38deg);
}


.action-wrapper {
  text-align: left;
  position: relative;
  background-color: #fff;
  margin: 0 0 70px 0px;
  padding: 40px 40px 40px 60px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 1;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.action-wrapper:after {
  width: 58px;
  height: 58px;
  line-height: 58px;
  background-color: #327fc7;
  border-radius: 200px;
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  left: -15px;
  top: -15px;
  text-align: center;
  -webkit-backface-visibility: hidden;
  z-index: 100;
}

.action-wrapper.first-action:after {
  content: '1';
}

.action-wrapper.second-action:after {
  content: '2';
}

.action-wrapper.third-action:after {
  content: '3';
}

.action-wrapper.forth-action:after {
  content: '4';
}

.action-wrapper p {
  font-weight: lighter;
}

.plugin-version-switcher {
  padding-bottom: 30px;
  display: inline-block;
}

.inner-spinner {
  display: none;
}

footer {
  text-align: center;
  background: #fff;
  padding-bottom: 60px;
}

footer {
  background: #fff;
  padding-bottom: 30px;
  font-weight: lighter;
}

footer .copyright {
  margin-top: 30px;
}

footer .team-desc {
  text-align: left;
}

footer .footer-menu {
  text-align: right;
}

footer .footer-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer .footer-menu ul li {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 5px;
}

@media all and (max-width: 576px) {
  footer .team-desc   {
    text-align: center;
    margin-bottom: 20px;
  }

  footer .footer-menu {
    text-align: center;
  }
}